/*===========================================
Project mvArea
===========================================*/
.mvArea {
  padding: 11rem 0;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .mvArea {
    padding: 6rem 1rem 3rem;
  }
}

.bg-mv {
  margin: auto;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .mvTtl img {
    width: 40%;
  }
}
/*===========================================
Project aboutArea
===========================================*/
.aboutWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row-reverse;
}
@media screen and (max-width: 768px) {
  .aboutWrap {
    display: block;
  }
}

.toolBox {
  max-width: 46rem;
  width: 100%;
  padding: 4rem 3rem;
  background: #e3f6f5;
  position: relative;
  right: -2rem;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  .toolBox {
    max-width: 100%;
    margin-top: 1rem;
    padding: 2rem 1.5rem 4rem;
    right: -1rem;
  }
}

.toolBox_img {
  margin-bottom: 2.5rem;
  max-width: 32rem;
}

.toolBox_ttl {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  font-weight: bold;
}

.toolBox_text {
  font-size: 1.6rem;
}

.profileBox {
  max-width: 46rem;
  width: 100%;
  padding: 3rem;
  background: #ffffff;
  position: relative;
  left: -2rem;
}
@media screen and (max-width: 768px) {
  .profileBox {
    max-width: 100%;
    padding: 2rem;
    left: -1rem;
  }
}

.profileBox:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  bottom: -0.5rem;
  right: -0.5rem;
  background: rgba(186, 232, 232, 0.5);
  z-index: -1;
}

.profileBox_ruby {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.profileBox_ttl {
  margin-bottom: 1.5rem;
  font-size: 2.2rem;
  font-weight: bold;
}

/*===========================================
Project workArea
===========================================*/
@media screen and (max-width: 768px) {
  .worksArea {
    padding-top: 0;
  }
}
.worksList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .worksList {
    display: block;
    margin-right: auto;
  }
}

.worksList_item {
  width: 32%;
  margin-right: 2%;
  border: 0.2rem solid #e3f6f5;
  overflow: hidden;
  position: relative;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
@media screen and (max-width: 768px) {
  .worksList_item {
    width: 80%;
    margin: auto;
  }
}
.worksList_item:nth-child(3n) {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .worksList_item:nth-child(3n) {
    margin-right: auto;
  }
}

.worksList_item:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.worksList_item:nth-child(n+4) {
  margin-top: 5rem;
}
@media screen and (max-width: 768px) {
  .worksList_item:nth-child(n+4) {
    margin-top: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .worksList_item + .worksList_item {
    margin-top: 1.5rem;
  }
}
.workItem_img {
  position: relative;
  width: 100%;
  padding-top: 80%;
  margin: 0 auto;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.workItem_img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.worksList_item:hover .workItem_img {
  transform: scale(1.1);
}

.workItem_category {
  position: absolute;
  width: 100%;
  padding: 1.5rem;
  background: rgba(186, 232, 232, 0.8);
  left: 0;
  bottom: -50px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
@media screen and (max-width: 768px) {
  .workItem_category {
    bottom: 0;
  }
}

.worksList_item:hover .workItem_category {
  bottom: 0;
}
@media screen and (max-width: 768px) {
  .worksList_item:hover .workItem_category {
    bottom: 0;
  }
}

/*===========================================
page layout style
===========================================*/