/*===========================================
Layout footer
===========================================*/
.footer {
    padding: 3rem 0;
    background: #bae8e8;

    @media screen and (max-width: 768px){
        padding: 1rem 0;
    }

    .copyright{
        text-align: center;
    }
}
