/*===========================================
Project contactArea
===========================================*/
.contactArea {
  background: #e3f6f5;
}

.contactBtn {
  display: block;
  max-width: 60rem;
  width: 100%;
  margin: auto;
  padding: 4rem;
  font-size: 3.6rem;
  text-align: center;
  border: 2px solid #ffd803;
  background: #ffd803;
  position: relative;
  transition: 0.2s;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .contactBtn {
    width: 80%;
    margin: auto;
    padding: 2rem;
    font-size: 2rem;
  }
}

.contactBtn:hover {
  color: #ffd803;
}

.contactBtn:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: #ffffff;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform ease 0.2s;
  -webkit-transition: transform ease 0.2s;
  -moz-transition: transform ease 0.2s;
  -ms-transition: transform ease 0.2s;
  -o-transition: transform ease 0.2s;
}

.contactBtn:hover:before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}

.contactBtn:after {
  position: absolute;
  content: "";
  width: 8.6rem;
  height: 2rem;
  background: url("../images/icon-arrow.svg") no-repeat center;
  background-size: contain;
  right: -4rem;
  top: 50%;
  margin-top: -1rem;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
@media screen and (max-width: 768px) {
  .contactBtn:after {
    width: 3.6rem;
    height: 1rem;
    right: -2rem;
  }
}

.contactBtn:hover:after {
  right: -6rem;
}
@media screen and (max-width: 768px) {
  .contactBtn:hover:after {
    right: -3rem;
  }
}