/*===========================================
Project workDetailArea
===========================================*/
.workDetailArea {
  padding-top: 11rem;
}
@media screen and (max-width: 768px) {
  .workDetailArea {
    padding-top: 8rem;
  }
}

.deviceWrap {
  text-align: center;
  position: relative;
}
@media screen and (max-width: 768px) {
  .deviceWrap {
    margin-top: 3rem;
    padding: 0 1rem;
  }
}

.workWrap {
  margin-top: 5rem;
  padding: 0 3rem;
}
.workUrl {
  display: inline-block;
  margin-bottom: 4rem;
  padding-right: 3rem;
  padding-bottom: 0.8rem;
  position: relative;
  font-size: 1.6rem;
  font-weight: bold;
  word-break: break-all;
}
@media screen and (max-width: 768px) {
  .workUrl {
    display: inline-block;
    margin-bottom: 2rem;
  }
}

.workUrl:before {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  background: #272343;
  left: 0;
  bottom: 0;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.workUrl:hover:before {
  width: 100%;
}

.workUrl:after {
  position: absolute;
  content: "";
  width: 1.6rem;
  height: 1.6rem;
  background: url("../../../images/icon-blank.png") no-repeat center;
  background-size: contain;
  right: 0.5rem;
  bottom: 0.5rem;
}
.workUrl.none:before,
.workUrl.none:after {
  content: none;
}

.workList_item {
  font-size: 1.8rem;
  position: relative;
  padding-left: 10rem;
}
@media screen and (max-width: 768px) {
  .workList_item {
    font-size: 1.6rem;
    padding-left: 8rem;
  }
}
.workList_item + .workList_item {
  margin-top: 1.5rem;
}
@media screen and (max-width: 768px) {
  .workList_item + .workList_item {
    margin-top: 1.2rem;
  }
}

.workList_ttl {
  display: block;
  width: 10rem;
  position: absolute;
  left: 0;
}
@media screen and (max-width: 768px) {
  .workList_ttl {
    width: 9rem;
  }
}
.workList_ttl:before {
  position: absolute;
  content: ":";
  right: 1.5rem;
}

.workText {
  margin-top: 2rem;
  font-size: 1.6rem;
  line-height: 1.6;
}
@media screen and (max-width: 768px) {
  .workText {
    font-size: 1.4rem;
  }
}
.workText a {
  color: #009edb;
  text-decoration: underline;
}
.workText:hover {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .workList_ttl {
    width: 9rem;
  }
}